@import "src/scss/_vars.scss";

.hero {
  padding: 120px 0;

  &__body {
    display: flex;
    align-items: center;
  }

  &__text {
    max-width: 630px;
    margin-right: auto;

    h1 {
      font-family: 'Circe';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 125%;
      letter-spacing: 0.05em;
      color: #373737;
      margin-bottom: 20px;
    }

    .text {
      margin-bottom: 50px;

      p {
        margin: 0;
        margin-bottom: 20px;
        font-size: 23px;
        color: #303030;
        line-height: 1.3;
        font-family: 'Circe';

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .action {
      display: flex;
      align-items: center;

      button {
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }

  &__brif {
    max-width: 360px;
    margin-left: 30px;
  }
}

@media(max-width: 1024px) {
  .hero {
    padding: 40px 0;

    .action {
      flex-direction: column;
      align-items: flex-start;

      button {
        margin-right: 0;
        width: 100%;
        max-width: 280px;

        &:first-child {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .hero {
    &__body {
      flex-direction: column;
      align-items: center;
    }

    &__text {
      margin-right: 0;
      text-align: center;
      margin-bottom: 20px;

      h1 {
        font-size: 26px;
      }

      .text {
        margin-bottom: 20px;

        p {
          font-size: 18px;
        }
      }

      .action {
        button {
          margin: 0 auto 20px;

          &:first-child {
            margin-right: auto;
          }
        }
      }
    }

    &__brif {
      margin-left: 0;
      max-width: none;
      width: 100%;
    }
  }
}


.target {
  padding: 20px 0 80px;

  &__text {
    h2 {
      font-family: $rubik;
      margin: 0;
      font-weight: 500;
      font-size: 54px;
      color: #373737;
      margin-bottom: 30px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        font-family: $circe;
        font-weight: 400;
        line-height: 1.3;
        color: #000;
        font-size: 23px;
        margin-bottom: 10px;
      }
    }
  }

  @media(max-width: 1024px) {
    &__text {
      h2 {
        font-size: 42px;
      }

      ul {

        li {
          font-size: 18px;
        }
      }
    }
  }
  @media(max-width: 768px) {
    padding: 20px 0 40px;
    &__text {
      h2 {
        font-size: 36px;
        margin-bottom: 20px;
      }

      ul {

        li {
          font-size: 18px;
        }
      }
    }
  }
  @media(max-width: 560px) {
    padding: 20px 0 40px;
    &__text {
      h2 {
        font-size: 28px;
      }

      ul {

        li {
          font-size: 16px;
        }
      }
    }
  }
}


.programm {
  padding: 20px 0 80px;

  &__body {
    display: flex;
    align-items: flex-start;
  }

  &__title {
    margin-right: auto;

    h2 {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 54.2px;
      line-height: 64px;
      letter-spacing: 0.05em;
      color: #373737;
      max-width: 480px;
      margin-top: 0;
    }
  }

  &__list {
    max-width: 530px;
    margin-left: 50px;
  }

  &__item {
    margin-bottom: 15px;

    .text {
      max-height: 0;
      overflow: hidden;
      transition: .35s ease;
      opacity: 0;

      &.active {
        opacity: 1;
      }

      p {
        font-size: 18px;
        color: #000;
        line-height: 1.3;
        font-family: 'Circe';

        a {
          margin-top: 10px;
          display: block;
          color: #281AC7;
          text-decoration: none;
          font-family: 'Circe';
        }
      }
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: $circe;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    color: #000;
    box-sizing: border-box;
    padding-left: 30px;
    cursor: pointer;
    position: relative;

    &::before {
      transition: .35s ease;
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 25px;
      height: 25px;
      background-image: url(../img/arrow.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.active {
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}

@media(max-width: 768px) {
  .programm {
    &__body {
      flex-direction: column;
    }

    &__title {
      margin: 0 0 30px;
      max-width: none;
      width: 100%;

      h2 {
        font-size: 42px;
        max-width: none;
      }
    }

    &__list {
      margin-left: 0;
    }
  }
}

@media(max-width: 560px) {
  .programm {
    &__body {
      flex-direction: column;
    }

    &__title {
      margin: 0 0 30px;
      max-width: none;
      width: 100%;

      h2 {
        font-size: 36px;
        max-width: none;
      }
    }

    &__list {
      margin-left: 0;
    }
  }
}

.tarif {
  padding: 20px 0 40px;

  &__title {
    margin-bottom: 70px;

    h2 {
      margin: 0 auto;
      max-width: 780px;
      text-align: center;
      display: block;
      font-family: $rubik;
      font-weight: 500;
      font-size: 55px;
      color: #373737;
    }
  }

  &__body {
    display: flex;
    align-items: stretch;
    margin: 0 -12px;
    box-sizing: border-box;
  }

  &__elem {
    width: calc(33.33% - 24px);
    margin: 0 12px;
  }
}

@media(max-width: 1024px) {
  .tarif {
    &__title {
      h2 {
        font-size: 42px;
      }
    }

    &__elem {
      .head {
        .title {
          font-size: 24px;
        }
      }

      .action {
        > p {
          font-size: 24px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .tarif {
    &__title {
      margin-bottom: 40px;

      h2 {
        font-size: 36px;
      }
    }

    &__body {
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }

    &__elem {
      width: 100%;
      max-width: none;
      box-sizing: border-box;
      margin: 0 0 30px;
    }
  }
}

@media(max-width: 560px) {
  .tarif {
    &__title {
      h2 {
        font-size: 28px;
      }
    }

  }
}

.command {
  padding: 40px 0 40px;
  box-sizing: border-box;

  &__title {
    margin-bottom: 70px;

    h2 {
      display: block;
      font-family: $rubik;
      margin: 0;
      font-weight: 500;
      font-size: 54px;
      color: #373737;
    }
  }

  &__body {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__item {
    width: 25%;
    margin-right: 30px;
    box-sizing: border-box;
    max-width: 250px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    .img {
      margin-bottom: 30px;

      img {
        max-width: 100%;
        object-fit: cover;
      }

    }

    h4 {
      font-family: $circe;
      font-weight: 700;
      font-size: 21px;
      color: #000;
      margin: 0;
      margin-bottom: 10px;
    }

    p {
      font-family: $circe;
      margin: 0;
      font-weight: 400;
      font-size: 21px;
      line-height: 1.2;
      color: #000;
    }
  }
}

@media(max-width: 1024px) {
  .command {
    &__title {
      margin-bottom: 40px;

      h2 {
        font-size: 36px;
      }
    }

    &__item {
      .img {
        margin-bottom: 10px;
      }

      h4 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media(max-width: 560px) {
  .command {
    &__title {
      h2 {
        font-size: 32px;
      }
    }

    &__body {
      flex-wrap: wrap;
      justify-content: inherit;
      margin: 0 -12px;
      box-sizing: border-box;
    }

    &__item {
      width: calc(50% - 24px);
      margin: 0 12px 30px;
      box-sizing: border-box;

      .img {
        margin-bottom: 10px;
      }

      h4 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}


.feedback {
  padding: 60px 0 120px;

  &__title {
    margin-bottom: 60px;

    h2 {
      font-family: $rubik;
      text-align: center;
      margin: 0;
      font-size: 54px;
      line-height: 1.3;
      color: #373737;
      display: block;
      font-weight: 500;
    }
  }

  &__body {
    display: flex;
  }

  &__form {
    width: 50%;
    margin-right: auto;
    max-width: 430px;
    box-sizing: border-box;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #000;

    form {
      display: flex;
      flex-direction: column;

      span.wpcf7-form-control-wrap {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        display: block;

        input, textarea {
          width: 100%;
          font-family: $circe;
          font-weight: 400;
          font-size: 21px;
          line-height: 1.2;
          color: #373737;
          padding: 9px 15px;
          box-sizing: border-box;
        }

        textarea {
          min-height: 250px;
          resize: none;
        }

        &:last-of-type {
          margin-bottom: 10px;
        }
      }

      .pp-form {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.4;
        color: #000;
        display: block;
      }

      width: 100%;
      box-sizing: border-box;

      .wpcf7-submit {
        width: 100%;
        max-width: none;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 16px;

        cursor: pointer;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: -webkit-gradient(linear,left top,left bottom,from(#4386d7),to(#4086dc));
        background: -o-linear-gradient(top,#4386d7 0,#4086dc 100%);
        background: linear-gradient(180deg,#4386d7 0,#4086dc 100%);
        -webkit-box-shadow: 0 3.48101px 3.48101px rgba(0,0,0,.25);
        box-shadow: 0 3.48101px 3.48101px rgba(0,0,0,.25);
        color: #fff;
        border: none;
        text-align: center;
        font-family: circe,sans-serif;
        font-weight: 400;
        line-height: 1.1;
        -webkit-transition: .35s ease;
        -o-transition: .35s ease;
        transition: .35s ease;
        &:hover {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }
  }

  &__details {
    width: 50%;
    box-sizing: border-box;
    margin-left: 30px;

    .phone {
      display: flex;
      justify-content: flex-end;

      a {
        color: #373737;
        font-size: 58px;
        font-weight: 700;
        line-height: 1.3;
        text-decoration: none;
        margin-bottom: 20px;
        font-family: 'Circe';

      }
    }

    .social {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        margin-left: 20px;
        columns: inherit;
        text-decoration: none;

        img {
          max-width: 100%;
        }
      }
    }

    .map {
      height: 330px;
    }
  }
}

@media(max-width: 1024px) {
  .feedback {
    &__title {
      h2 {
        font-size: 36px;
        margin: 0;
      }
    }

    &__details {
      .phone {
        a {
          font-size: 32px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .feedback {
    padding-bottom: 40px;

    &__title {
      h2 {
        font-size: 32px;
        margin: 0;
      }
    }

    &__body {
      flex-direction: column;
    }

    &__form {
      max-width: none;
      width: 100%;
      padding: 30px;
      margin-bottom: 20px;

      form {
        label {
          input, textarea {
            font-size: 20px;
          }
        }
      }
    }

    &__details {
      width: 100%;
      margin: 0;

      .phone {
        justify-content: flex-start;
        margin-bottom: 0px;

        a {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      .social {
        margin-bottom: 20px;

        a {
          max-width: 40px;
          margin-left: 0;
          margin-right: 20px;
        }

        justify-content: flex-start;
      }
    }

  }
}

.footer {
  border-top: 1px solid #000000;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 20px;

  &__text {
    p {
      font-family: $circe;
      font-weight: 300;
      font-size: 12px;
      color: #000;
    }

    a {
      display: block;
      color: #2644AF;
      font-size: 12px;
      font-weight: 300;
      font-family: $circe;
    }
  }
}